{% extends 'club_rep_acc/main.html' %}

{% block content %}


<div class="row">
    <div class="col-md">
        <div class="car card-body">     
            <h5>Club Representative:</h5>
            <table class="table table-sm">
                <tr>
                    <th>Club Rep</th>
                    <th>Club</th>
                    <th>Address</th>
                    <th>Contact Details</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>

                {% for c in clubs %}
                    <tr>
                        <td>{{c.club_rep}}</td>
                        <td>{{c.club_name}}</td>
                        <td>{{c.adress_details}}</td>
                        <td>{{c.contact_details}}</td>
                        <td><a class="btn btn-secondary btn-sm"  href="{% url 'update_rep' c.id %}">Update</a></td>
                        <td><a class="btn btn-secondary btn-sm"  href="{% url 'delete_rep' c.id %}">Delete</a></td>
                        

                    </tr>
                {% endfor %}
            </table>
            <br>
            <a class="btn btn-secondary btn-sm btn-block"  href="{% url 'create_rep' %}">Create Club Rep</a>
        </div>
    </div>
</div>

{% endblock %}