{% extends 'club_rep_acc/main.html' %}

{% block content %}


<div class="row">
    <div class="col-md-4">
        <div class="car card-body">
            <h5>Club Representative:</h5>
            <hr>
            <a class="btn btn-secondary btn-sm btn-block"  href="">Create Club Rep</a>
            <a class="btn btn-secondary btn-sm btn-block"  href="">Update Club Rep</a>
            <a class="btn btn-secondary btn-sm btn-block"  href="">Delete Club Rep</a>
        </div>
    </div>

    <div class="col-md-7">
        <div class="car card-body">
            <h5>Club Info:</h5>
            <hr>
            <p>Name:</p>
            <p>Address:</p>
            <p>Contact Details:</p>
        </div>
    </div>
</div>

{% endblock %}