{% extends 'club_rep_acc/main.html' %}

{% block content %}

<br>
<div class="row">
    <div class="col-md">
        <div class="car card-body">
        <p>Are you sure you want to delete <b>{{club}}</b>?</p> 

        <form action="{% url 'delete_rep' club.id %}" method="POST">
            {% csrf_token %}
            <a class="btn btn-secondary btn-sm"  href="{% url 'account' %}">Cancel</a>
            <input class="btn btn-secondary btn-sm" type="submit" name="Confirm">
        </form>
        </div>
    </div>
</div>

{% endblock %}