{% extends 'club_rep_acc/main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <br>
        <h2 style="text-align:center">Films</h2>
        <div class="car card-body">

            <table class="table table-sm">
                <tr>
                    <th>Film Name</th>
                    <th>Film Length</th>
                    <th>Price</th>
                </tr>

                {% for i in films %}
                    <tr>
                        <td>{{i.film_name}}</td>
                        <td>{{i.film_length}}</td>
                        <td>{{i.ticket_price}}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
</div>

{% endblock %}