{% extends 'club_rep_acc/main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <br>
        <h2 style="text-align:center">Films Booking</h2>
        <hr>
        <div class="car card-body">
            <a class="btn btn-secondary btn-sm btn-block"  href="">Find Films</a>
            <table class="table table-sm">
                <tr>
                    <th>Film Name</th>
                    <th>Film Length</th>
                    <th>Ticket Amount</th>
                    <th>Price</th>
                </tr>
            </table>

        </div>
    </div>
</div>

{% endblock %}